@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;700&family=Rubik:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light: hsl(206, 33%, 96%);
  --color-black: hsl(0, 0%, 7%);
  --color-night: hsl(214, 100%, 10%);
  --color-orange: hsl(24, 85%, 46%);
  --color-indigo: hsl(255, 100%, 60%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --dosis-font: 'Dosis', sans-serif; }

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black);
  background: var(--color-white); }

.gap-30 {
  gap: 30px; }

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none; }

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover; }

.bold_button_circle {
  background-color: var(--color-orange);
  padding: 12px 15px;
  margin: 20px 0px;
  border-radius: 26px;
  letter-spacing: 0.1rem;
  font-size: 15px;
  color: white; }

.bold_button {
  background-color: var(--color-orange);
  padding: 17px;
  margin: 20px 0px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 22px; }

.bold_button a {
  color: white; }

.container {
  max-width: 83rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 2rem; }

.brand {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: inherit;
  border: none;
  outline: none;
  color: var(--color-indigo);
  text-transform: uppercase;
  text-rendering: optimizeLegibility; }

/* For navigation menu */
.bg_hero {
  margin-top: 0% !important;
  background-image: url("/image/background.png");
  background-size: cover;
  background-position: contain;
  padding: 5%;
  padding-bottom: 5%; }

.herocontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 0 40px;
  max-width: 83rem;
  height: auto; }
  .herocontainer .text_herocontainer h1 {
    font-size: 60px;
    line-height: 65px;
    margin: 20px 0;
    color: var(--color-orange); }
  .herocontainer .text_herocontainer p {
    font-size: 20px; }
  .herocontainer img {
    background-size: cover;
    background-position: center;
    width: 40%; }

.sectionone {
  box-shadow: 0px 15px 10px -1px rgba(182, 182, 182, 0.336); }
  .sectionone .container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px !important;
    max-width: 1200px; }
    .sectionone .container .sectionone_text_center {
      text-align: center; }
    .sectionone .container h2 {
      font-family: var(--dosis-font);
      font-size: 43px;
      color: var(--color-black); }
    .sectionone .container .sectionone_controls {
      display: flex;
      justify-content: space-around;
      margin: 40px 0; }
      .sectionone .container .sectionone_controls .sectionone_head {
        text-align: center; }
    .sectionone .container .sectionone_icons {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr)); }
      .sectionone .container .sectionone_icons .sectionone_box {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 37px; }
        .sectionone .container .sectionone_icons .sectionone_box h4,
        .sectionone .container .sectionone_icons .sectionone_box svg {
          padding: 5px 0;
          margin: auto; }
    .sectionone .container .sectionone_content h1 {
      font-size: 30px; }
    .sectionone .container .sectionone_content p {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 10px;
      gap: 20px; }
    .sectionone .container .sectionone_content .sectionone_logo_icons {
      flex-wrap: wrap; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: var(--color-orange);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 14px; }
  #myBtn:hover {
    background-color: var(--color-orange);
    color: black; }
  #myBtn .arrow {
    text-align: center;
    margin: 8% 0; }
  #myBtn .bounce {
    animation: bounce 2s infinite; }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

.sectiontwo {
  margin: 60px 0; }
  .sectiontwo .sectiontwo_controls {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100%; }
    .sectiontwo .sectiontwo_controls .sectiontwo_video {
      max-width: 40%; }
    .sectiontwo .sectiontwo_controls .sectiontwo_content {
      max-width: 60%;
      padding-left: 40px; }
      .sectiontwo .sectiontwo_controls .sectiontwo_content h4 {
        margin: 10px 0; }
      .sectiontwo .sectiontwo_controls .sectiontwo_content h1 {
        margin: 20px 0;
        color: var(--color-orange);
        font-size: 49px;
        line-height: 52px;
        font-family: var(--dosis-font);
        font-weight: 800; }
      .sectiontwo .sectiontwo_controls .sectiontwo_content .sectiontwo_number {
        display: flex;
        text-align: center;
        margin: auto;
        position: relative; }
        .sectiontwo .sectiontwo_controls .sectiontwo_content .sectiontwo_number .number_one {
          padding: 20px 30px; }
          .sectiontwo .sectiontwo_controls .sectiontwo_content .sectiontwo_number .number_one span {
            position: absolute;
            top: 23px;
            bottom: 0;
            font-size: 30px;
            margin-left: 9px; }
          .sectiontwo .sectiontwo_controls .sectiontwo_content .sectiontwo_number .number_one p {
            font-size: 15px; }
          .sectiontwo .sectiontwo_controls .sectiontwo_content .sectiontwo_number .number_one strong {
            font-size: 50px; }
      .sectiontwo .sectiontwo_controls .sectiontwo_content ul li {
        font-weight: bold;
        color: #807e7e;
        list-style-type: disc; }

.content {
  display: none; }

.content.active {
  display: block; }

.carosuelslider {
  padding: 20px 0px;
  background-color: transparent;
  background-image: linear-gradient(360deg, #D7761242 0%, var(--color-white)); }
  .carosuelslider .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s ease-in; }
    .carosuelslider .container .grey_carosuel {
      filter: grayscale(1) !important;
      padding: 10px 10px; }
      .carosuelslider .container .grey_carosuel:hover {
        filter: grayscale(0) !important; }

.industries_bg {
  background-color: #f3f3f3; }
  .industries_bg .container .industries_heading {
    padding-top: 40px;
    font-family: var(--dosis-font);
    color: var(--color-orange);
    font-size: 26px; }
    .industries_bg .container .industries_heading span {
      color: var(--color-black); }
    .industries_bg .container .industries_heading :hover {
      color: var(--color-orange) !important; }
  .industries_bg .container .industries_controls_content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem; }
    .industries_bg .container .industries_controls_content .industires_content {
      padding: 20px 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: var(--dosis-font); }

.successful {
  margin: 60px 0;
  padding: 30px 0; }
  .successful h1 {
    margin: -24px 0px 18px 70px;
    font-family: "Dosis", Sans-serif;
    font-weight: 800;
    font-size: 33px; }
  .successful .successful_head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    gap: 50px; }
    .successful .successful_head .successful_controls {
      display: flex;
      gap: 20px; }
      .successful .successful_head .successful_controls .successful_icons_content h3 {
        font-family: var(--dosis-font);
        font-size: 22px; }

.bg_portfolio {
  width: 100%;
  position: relative;
  height: 100%;
  padding: 30px 0;
  background-color: #F3F3F3; }
  .bg_portfolio .container .button_portfolio {
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 40px;
    padding: 12px 20px 12px 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #000000;
    border-radius: 4px 4px 4px 4px;
    color: white; }
  .bg_portfolio .container .portfolio_hit {
    padding: 30px 0;
    margin: -24px 0px 18px 70px;
    font-family: "Dosis", Sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 25px; }
    .bg_portfolio .container .portfolio_hit span {
      color: var(--color-orange); }
  .bg_portfolio .container .swiper {
    width: 100%;
    height: 100%; }
  .bg_portfolio .container .mySwiper .swiper-button-next {
    margin-right: 76px; }
  .bg_portfolio .container .mySwiper .swiper-button-prev {
    margin-left: 76px; }
  .bg_portfolio .container .mySwiper .swiper-button-next,
  .bg_portfolio .container .mySwiper .swiper-button-prev {
    background-color: var(--color-white);
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .bg_portfolio .container .mySwiper .swiper-button-next:hover,
  .bg_portfolio .container .mySwiper .swiper-button-prev:hover {
    transition: 0.3s ease-in-out;
    background-color: var(--color-orange); }
  .bg_portfolio .container .mySwiper .swiper-button-prev:after,
  .bg_portfolio .container .mySwiper .swiper-rtl .swiper-button-next:after,
  .bg_portfolio .container .mySwiper .swiper-button-next:after,
  .bg_portfolio .container .mySwiper .swiper-rtl .swiper-button-prev:after {
    font-size: 23px;
    color: black; }
  .bg_portfolio .container .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .bg_portfolio .container .slide-1 {
    position: absolute;
    bottom: 0;
    width: 80%;
    background-color: #f5f5f5c5;
    font-size: 20px;
    padding: 7px 0; }
  .bg_portfolio .container .swiper-slide {
    overflow: hidden;
    transition: all 2s ease; }
    .bg_portfolio .container .swiper-slide img {
      display: block;
      width: 80%;
      height: 100%;
      object-fit: cover;
      transition: 1s linear; }
    .bg_portfolio .container .swiper-slide:hover {
      transform: scale(1.1); }

/*Flyout Mega*/
/*mega menu*/
/*Blog DropDown*/
/*Images*/
/*common*/
/* .flyout-left ul>li>a, */
/*hover*/
/*responsive*/
/* .flyout-left>ul,  */
/* .flyout-left>ul{
	right: 100%;
} */
/* sidebar nav start here  */
/* sidebar nav end here  */
/* ///// */
/**/
/* Fixed sidenav for mobileview, full height of sidenav */
/* Style the sidenav links and the dropdown button */
/* On mouse-over */
/* Main content */
/* Add an active class to the active dropdown button */
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
/* Optional: Style the caret down icon */
/* Some media queries for responsiveness */
/* ///// */
.content_nav {
  display: flex;
  padding: 10px 70px;
  background: #f0efef;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative; }

.exo-menu {
  width: 100%;
  list-style: none;
  justify-content: flex-end;
  display: flex;
  font-family: var(--font-roboto);
  font-weight: normal;
  font-size: 15px; }
  .exo-menu li a {
    color: black; }
  .exo-menu .drop-down a:hover {
    color: var(--color-orange) !important;
    transition: 0.3s; }

li.drop-down {
  position: relative; }
  li.drop-down:before {
    color: #fff;
    font-family: var(--font-roboto);
    font-style: normal;
    display: inline;
    position: absolute;
    right: 0px;
    top: 20px;
    font-size: 14px; }
  li.drop-down > ul {
    left: 0px;
    min-width: 230px; }
    li.drop-down > ul > li > a {
      color: #000000;
      display: block;
      padding: 20px 22px;
      text-decoration: none;
      background-color: #ebebeb !important;
      -webkit-transition: color 0.2s linear, background 0.2s linear;
      -moz-transition: color 0.2s linear, background 0.2s linear;
      -o-transition: color 0.2s linear, background 0.2s linear;
      transition: color 0.2s linear, background 0.2s linear; }
  li.drop-down > a:hover + .drop-down-ul {
    display: block; }

.flyout-right {
  position: relative; }
  .flyout-right > ul {
    top: 0;
    right: 0;
    min-width: 230px;
    display: none;
    border-left: 1px solid #e4e4e4; }
  .flyout-right ul > li > a {
    color: #000000;
    display: block;
    padding: 20px 22px;
    text-decoration: none;
    background-color: #ebebeb !important;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
    background-color: #547787; }

.flyout-left {
  position: relative; }
  .flyout-left > ul {
    top: 0;
    right: 0;
    min-width: 230px;
    display: none;
    border-left: 1px solid #e4e4e4; }
  .flyout-left ul > li > a {
    color: #000000;
    display: block;
    padding: 20px 22px;
    text-decoration: none;
    background-color: #ebebeb !important;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear; }

.drop-down-ul {
  display: none; }
  .drop-down-ul:hover {
    display: block; }

.flyout-mega-wrap {
  top: 0;
  right: 0;
  left: 100%;
  width: 100%;
  display: none;
  height: 100%;
  padding: 15px;
  min-width: 742px;
  background-color: #547787; }
  .flyout-mega-wrap:hover {
    display: block; }

h4.row.mega-title {
  color: #eee;
  margin-top: 0px;
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  color: #eee;
  margin-top: 0px;
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  padding-top: 15px;
  background-color: #e1e2e4; }

.flyout-mega ul > li > a {
  font-size: 90%;
  line-height: 25px;
  color: #fff;
  font-family: inherit; }
  .flyout-mega ul > li > a:hover {
    text-decoration: none;
    background-color: transparent !important;
    color: #ccc !important; }
  .flyout-mega ul > li > a:active {
    text-decoration: none;
    background-color: transparent !important;
    color: #ccc !important; }
  .flyout-mega ul > li > a:focus {
    text-decoration: none;
    background-color: transparent !important;
    color: #ccc !important; }

.mega-menu {
  left: 0;
  right: 0;
  padding: 15px;
  display: none;
  padding-top: 0;
  min-height: 100%;
  background-color: #547787; }
  .mega-menu ul li a {
    line-height: 25px;
    font-size: 90%;
    display: block; }
  .mega-menu:hover {
    display: block; }

ul.stander li a {
  padding: 3px 0px; }

ul.description li {
  padding-bottom: 12px;
  line-height: 8px; }
  ul.description li span {
    color: #ccc;
    font-size: 85%; }

a.view-more {
  border-radius: 1px;
  margin-top: 15px;
  padding: 2px 10px !important;
  line-height: 21px !important;
  display: inline-block !important; }
  a.view-more:hover {
    color: #fff;
    background: #0DADEF; }

ul.icon-des li {
  width: 100%;
  display: table;
  margin-bottom: 11px; }
  ul.icon-des li a i {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #009FE1;
    line-height: 35px !important; }

.Blog {
  left: 0;
  display: none;
  color: #fefefe;
  padding-top: 15px;
  background: #547787;
  padding-bottom: 15px; }
  .Blog .blog-title {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase; }
  .Blog .blog-des {
    color: #ccc;
    font-size: 90%;
    margin-top: 15px; }
  .Blog a.view-more {
    margin-top: 0px; }
  .Blog:hover {
    display: block; }

.Images {
  left: 0;
  width: 100%;
  display: none;
  color: #fefefe;
  padding-top: 15px;
  background: #547787;
  padding-bottom: 15px; }
  .Images h4 {
    font-size: 15px;
    margin-top: 0px;
    text-transform: uppercase; }
  .Images:hover {
    display: block; }

li.flyout-left > ul:hover {
  display: block; }

li.flyout-left a:hover + ul {
  display: block; }

li.flyout-right > ul:hover {
  display: block; }

li.flyout-right a:hover + ul {
  display: block; }

.blog-drop-down > a:hover + .Blog {
  display: block; }

.images-drop-down > a:hover + .Images {
  display: block; }

.mega-drop-down a:hover + .mega-menu {
  display: block; }

li.flyout-mega > a:hover + .flyout-mega-wrap {
  display: block; }

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10%; }
  .sidenav a {
    padding: 9px 8px 8px 32px;
    margin: 20px 0;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff !important;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px; }

.subscribe {
  background-color: #ffffff; }
  .subscribe .subscribe_controls {
    display: flex;
    align-items: center;
    padding: 30px 30px;
    margin: 60px 0px; }
  .subscribe .subscribe_content {
    width: 60%; }
    .subscribe .subscribe_content h2 {
      font-family: var(--dosis-font);
      font-size: 41px;
      font-weight: bold; }
      .subscribe .subscribe_content h2 span {
        color: var(--color-orange); }
    .subscribe .subscribe_content p {
      font-size: 16px;
      margin: 20px 0;
      display: inline-block; }
    .subscribe .subscribe_content form > input,
    .subscribe .subscribe_content button {
      width: 65%;
      font-size: 16px;
      padding: 10px 10px; }
    .subscribe .subscribe_content button {
      background-color: var(--color-orange);
      margin-top: 10px;
      color: white;
      font-size: 19px; }
  .subscribe .subscribe_image {
    width: 40%; }

.footer_background {
  background-color: #021327;
  padding: 20px 0; }
  .footer_background .control_footer {
    color: #ccc;
    display: flex;
    padding: 30px 0; }
    .footer_background .control_footer h2 {
      color: white; }
    .footer_background .control_footer .handle_footer_main {
      font-size: 15px;
      width: 20%; }
      .footer_background .control_footer .handle_footer_main img {
        margin-bottom: 10px; }
      .footer_background .control_footer .handle_footer_main p {
        font-size: 18px;
        padding-right: 30px; }
    .footer_background .control_footer .usa_footer_img {
      display: flex;
      align-items: center; }
      .footer_background .control_footer .usa_footer_img img {
        width: 30px;
        height: 30px;
        margin-right: 10px; }
    .footer_background .control_footer .handle_footer {
      padding: 0 10px;
      width: 20%;
      font-size: 18px;
      line-height: 33px; }
      .footer_background .control_footer .handle_footer ul {
        margin-top: 20px; }
      .footer_background .control_footer .handle_footer .usa_footer_img {
        padding-top: 20px; }
      .footer_background .control_footer .handle_footer .footer_top_control {
        padding-top: 0; }

@media (min-width: 767px) {
  .exo-menu > li > a {
    display: block;
    padding: 20px 22px;
    font-weight: 500;
    font-size: 18px; }
  .mega-menu {
    position: absolute; }
  .flyout-mega-wrap {
    position: absolute; }
  .Images {
    position: absolute; }
  .Blog {
    position: absolute; }
  .flyout-right > ul {
    position: absolute;
    left: 100%; }
  li.drop-down > ul {
    position: absolute; } }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
    .sidenav a {
      font-size: 18px; } }

@media screen and (max-width: 814px) {
  .exo-menu {
    display: none; }
  .fa-bars {
    position: absolute;
    top: 19px;
    margin: 0 70px;
    right: 0; }
  .mobile_nav .exo-menu {
    display: block; }
  .sidenav {
    background-color: var(--color-orange) !important;
    width: 438px; }
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 16px;
      color: #ffffff;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;
      font-size: 18px; }
      .sidenav a:hover {
        color: #f1f1f1; } }

.dropdown-btn {
  padding: 9px 8px 6px 16px;
  margin: 20px 0;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none; }
  .dropdown-btn:hover {
    color: #f1f1f1; }

.main {
  margin-left: 200px;
  font-size: 20px;
  padding: 0px 10px; }

.dropdown-container {
  display: none;
  padding-left: 38px;
  margin-bottom: 15px; }
  .dropdown-container a {
    border-bottom: 1px solid #a94442;
    padding: 10px 20px; }

.fa-sort-desc:before {
  content: "\f0dd";
  position: absolute;
  right: -5px;
  top: 0; }

.fa-caret-down {
  float: right;
  padding-right: 8px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; } }

@media screen and (min-width: 815px) {
  .mobile_nav {
    display: none; } }

@media screen and (max-width: 1024px) {
  .container .sectionone_controls {
    flex-direction: column;
    align-items: center;
    padding-left: 0px !important; }
    .container .sectionone_controls .sectionone_content {
      padding-left: 0%; }
    .container .sectionone_controls .sectionone_content h1,
    .container .sectionone_controls .sectionone_content p {
      text-align: center; }
    .container .sectionone_controls .sectionone_content .sectionone_logo_icons {
      justify-content: center; } }

@media screen and (max-width: 992px) {
  .sectiontwo_controls {
    flex-direction: column !important;
    padding: 20px 0; }
    .sectiontwo_controls .sectiontwo_video {
      max-width: 100% !important; }
    .sectiontwo_controls .sectiontwo_content {
      max-width: 100% !important;
      padding: 30px 0; }
    .sectiontwo_controls .sectiontwo_number .number_one {
      display: flex;
      flex-direction: column;
      margin: auto;
      display: block !important; }
  .footer_background .control_footer {
    flex-direction: column; }
    .footer_background .control_footer .handle_footer_main {
      width: 100%; }
    .footer_background .control_footer .services_media, .footer_background .control_footer .about_media, .footer_background .control_footer .contact_media, .footer_background .control_footer .contact_second_media {
      width: 100%;
      margin-top: 20px; } }

@media screen and (max-width: 768px) {
  .navbar .burger {
    display: block;
    opacity: 1;
    visibility: visible; }
  .navbar .menu {
    width: 100%;
    max-height: 0rem;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.35s ease; }
    .navbar .menu.is-active {
      opacity: 1;
      visibility: visible; }
    .navbar .menu-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
      padding: 3rem 0; }
  .herocontainer {
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .herocontainer img {
      width: 100%; }
  .sectionone .container .sectionone_controls div .sectionone_icons {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .sectiontwo_number {
    display: none !important; }
  .subscribe .subscribe_controls {
    flex-direction: column;
    padding: 20px 0; }
  .subscribe .subscribe_content {
    width: 100%;
    text-align: center; } }

@media screen and (min-width: 340px) and (max-width: 576px) {
  .herocontainer .text_herocontainer h1 {
    font-size: 30px;
    line-height: normal; }
  .successful .successful_head {
    flex-direction: column; } }
